$white-color: white;
$background-color: #eceefe;
$text-button-hover-color: #797EF3;
$text-button-color: #444DF2;
$border-color: #ADB0D9;
$focus-input-color: #535AF1;
$error-color: #ED1E79;
$line-color: #ADB0D9;
$active-button-color: #686868;
$avatar-border-color: #E6E6E6;