@import './../../styles/colors.scss';
@import './../../styles/mixins.scss';

.auth-background-container {
    height: 100%;
    background-color: $background-color;
}

.auth-container {
    max-width: 1920px;
    width: 100%;
    max-height: 1080px;
    height: 100%;
    margin: 0 auto;
    padding: 75px 75px 48px 75px;
    @include flex-layout(column, unset, center, unset);

    header {
        width: 100%;
        @include flex-layout(unset, space-between, center, unset);
    }
}

.right-container {
    height: 100%;
    @include flex-layout(column, space-between, flex-end, unset);
}

.main-footer-container {
    height: 100%;
    width: 100%;
    @include flex-layout(column, space-between, center, unset);

    footer {
        width: 100%;
        @include flex-layout(unset, center, center, 16px);
    }
}

a {

    &:hover {
        font-weight: 500;
        border-color: $border-color;
        color: $text-button-color;
    }
}