@import './../../../styles/colors.scss';
@import './../../../styles/mixins.scss';

:host {
    height: 100%;
    @include flex-layout(unset, center, center, unset);
}

.choose-avatar-container {
    max-width: 606px;
    width: 100%;
    max-height: 669px;
    height: 100%;
    background-color: $primary-color;
    padding: 40px 67px;
    border-radius: 30px;
    box-shadow: 0px 2px 10px 0px #00000014;
    @include flex-layout(column, unset, center, 30px);
    position: relative;

    .arrow-back {
        position: absolute;
        top: 48px;
        left: 16px;
        outline: none;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
            background-color: $background-color;

            path {
                fill: $focus-input-color;
            }
        }
    }
}